## Colorado Elk Tag Application Exploratory Data Analysis

### Packages

In [1]:
import pandas as pd

### Import Data

In [9]:
Tags_Awarded_init = pd.read_excel('Input-Data//All-Total-Tags-Awarded.xlsx')
App_Preference_init = pd.read_excel('Input-Data//Total-All-Applicant-Preference_Points.xlsx')
Draw_Preference_init = pd.read_excel('Input-Data//Total-All-Draw-Preference_Points.xlsx')
Min_Preference_init = pd.read_excel('Input-Data//All-Min-Pref-Points.xlsx')

### Top 10 Hunt Codes receive the highest number of applicants from 2015 to 2022.

### Top 10 Hunt Codes receive the highest number of tags allocated from 2015 to 2022.

In [22]:
#Isolate Columns of Interest
All_Tags_Awarded = Tags_Awarded_init[['Primary Key','Hunt Code','Year','Total Tags']]

#Grouping the Total number of tags awarded for each hunt code
All_Tags_Awarded_Grouped = All_Tags_Awarded[['Hunt Code','Total Tags']].groupby('Hunt Code').sum('Total Tags')

#Sorting by the total number of tags and isolating the units with the most tags awarded
Most_Tags_Awarded = All_Tags_Awarded_Grouped.sort_values('Total Tags',ascending=False)
Most_Tags_Awarded.head(5)

           Total Tags
Hunt Code
EM011O1R        16278
EF011O1R        14533
EF012O2R         8867
EE007O1A         8570
EE033O1A         8100

In [26]:
#Sorting by the total number of tags and isolating the units with the most tags awarded
Least_Tags_Awarded = All_Tags_Awarded_Grouped.sort_values('Total Tags',ascending=True)
Least_Tags_Awarded.head(5)

           Total Tags
Hunt Code
EF171P4R            0
EF006P4R            0
EF391O1M            1
EF027P1R            1
EE371P1R            2

### Top 10 Hunt Codes that take the most preference points to draw

### Evaluate the Top 10 Hunt Code that take the most preference points to draw for point creep
The "Point Creep" phenominon, which occurs when the number of tags available doesn't meet the demand of applicants and each year the quantity of points it takes to draw the tag increases.