## Colorado Elk Tag Application Exploratory Data Analysis

### Packages

In [1]:
import pandas as pd

### Import Data

In [2]:
App_Preference_init = pd.read_excel('Input-Data//Total-All-Applicant-Preference_Points.xlsx')
Draw_Preference_init = pd.read_excel('Input-Data//Total-All-Draw-Preference_Points.xlsx')
Tags_Awarded_init = pd.read_excel('Input-Data//All-Total-Tags-Awarded.xlsx')
No_App_init = pd.read_excel('Input-Data//All-Total-Applied.xlsx')
Min_Preference_init = pd.read_excel('Input-Data//All-Min-Pref-Points.xlsx')

### Top 10 Hunt Codes receive the highest number of applicants from 2015 to 2022.

In [34]:
#Isolate Columns of Interest
All_Apps = No_App_init[['Primary Key','Hunt Code','Year','Total Applications']]

#Grouping the Total number of applicants for each hunt code
All_Apps_Grouped = All_Apps[['Hunt Code','Total Applications']].groupby('Hunt Code').sum('Total Applications')

#Sorting by the total number of applicants and isolating the units with the most applicants
Most_Applied = All_Apps_Grouped.sort_values('Total Applications',ascending=False)
Most_Applied.head(10)

           Total Applications
Hunt Code
EE010E1R                10014
EE002O1A                 8409
EM011O1R                 6888
EM061O2R                 6708
EE006O1R                 5996
EF011O3R                 5614
EE012O1M                 5353
EM043O1M                 5352
EE033O1A                 5287
EE201E1R                 5236

In [35]:
#Sorting by the total number of applicants and isolating the units with the least number of applicants
Least_Applied = All_Apps_Grouped.sort_values('Total Applications',ascending=True)
Least_Applied.head(10)

           Total Applications
Hunt Code
EE371P1R                    0
EF016O4R                    0
EE128O1M                    0
EE060P1R                    0
EF012P1M                    0
EE060P4R                    0
EE371P4R                    0
EF171P4R                    0
EE027P4R                    1
EE018P4R                    1

### Top 10 Hunt Codes receive the highest number of tags allocated from 2015 to 2022.

In [37]:
#Isolate Columns of Interest
All_Tags_Awarded = Tags_Awarded_init[['Primary Key','Hunt Code','Year','Total Tags']]

#Grouping the Total number of tags awarded for each hunt code
All_Tags_Awarded_Grouped = All_Tags_Awarded[['Hunt Code','Total Tags']].groupby('Hunt Code').sum('Total Tags')

#Sorting by the total number of tags and isolating the units with the most tags awarded
Most_Tags_Awarded = All_Tags_Awarded_Grouped.sort_values('Total Tags',ascending=False)
Most_Tags_Awarded.head(10)

           Total Tags
Hunt Code
EM011O1R        16278
EF011O1R        14533
EF012O2R         8867
EE007O1A         8570
EE033O1A         8100
EF004O2R         6403
EE006O1R         6080
EM041O1R         6000
EM003O1R         5527
EE012O1A         5050

In [26]:
#Sorting by the total number of tags and isolating the units with the most tags awarded
Least_Tags_Awarded = All_Tags_Awarded_Grouped.sort_values('Total Tags',ascending=True)
Least_Tags_Awarded.head(5)

           Total Tags
Hunt Code
EF171P4R            0
EF006P4R            0
EF391O1M            1
EF027P1R            1
EE371P1R            2

### Top 10 units with the lowest supply-demand ratio

In [46]:
Demand_Ratio = All_Tags_Awarded_Grouped.merge(All_Apps_Grouped, on='Hunt Code', how='left')

Demand_Ratio['Supply-Demand Ratio'] = Demand_Ratio['Total Tags']/ Demand_Ratio['Total Applications']

Demand_Ratio.sort_values('Supply-Demand Ratio', ascending=True).head(20)

           Total Tags  Total Applications  Supply-Demand Ratio
Hunt Code
EE085W1R            8              1531.0             0.005225
EF391O1M            1               173.0             0.005780
EE010W1R            8               894.0             0.008949
EE002O1A           79              8409.0             0.009395
EF171P3R            4               341.0             0.011730
EF161P4R            4               335.0             0.011940
EF016P3R            8               628.0             0.012739
EF060O1M            5               339.0             0.014749
EE001O1A           16              1004.0             0.015936
EF009L1R           31              1815.0             0.017080
EE033P4R           36              2088.0             0.017241
EF104O1M            4               206.0             0.019417
EF133O1M            2                82.0             0.024390
EE851W4R            8               327.0             0.024465
EE011W1R           16               647.0             0.024730
EF004P1M           46              1833.0             0.025095
EE010E1R          256             10014.0             0.025564
EE010O1A          120              4692.0             0.025575
EE201O1A           76              2913.0             0.026090
EE851W2R           15               571.0             0.026270

### Top 10 Hunt Codes that take the most preference points to draw for adult residents in 2022

In [12]:
#Isolate Data for 2022
Min_Preference = Min_Preference_init.loc[Min_Preference_init['Year'] == 2022]

#Top 10 Hunt Codes that take the most preference points to draw for adult residents
Min_Preference[['Hunt Code','Adult-Res']].sort_values('Adult-Res', ascending=False).head(10)

   Hunt Code  Adult-Res
2   EE010W1R       30.0
3   EE084W1R       28.0
10  EE040W1R       27.0
11  EE851W1R       27.0
15  EE085W1R       26.0
16  EE851W2R       26.0
50  EE023W1R       23.0
51  EE104W1R       23.0
52  EM002O1M       23.0
61  EE084W2R       22.0

### Evaluate the Top 10 Hunt Code that take the most preference points to draw for point creep
The "Point Creep" phenominon, which occurs when the number of tags available doesn't meet the demand of applicants and each year the quantity of points it takes to draw the tag increases.